@import url('https://fonts.googleapis.com/css?family=Playfair Display Black Italic');

/* This "resets" the style so it is easier for me to work with the page */

* {
    margin: 0;
    padding: 0;
}

/* default background colour and font*/
body {
    font-family: "Playfair Display Black Italic";
    background-color: white;
    margin: 0;
    height: 100%;
}

/* container for most pages */ 
.layout {
    background-color: #F4F4F4;
    height: 100%;
    margin-top: 6em;
    padding: 10px;
}

.pageTitle, .subtitle {
    font-size: 5em;
    text-transform: lowercase;
    font-family: "Playfair Display Black Italic";
    margin-left: 15px;
    margin-top: 50px;
    top: -0.1em;
    position: absolute;
    color: #EDC661;
    font-weight: 900;
}

.subtitle {
    text-align: center;
    margin: 15px;
    left: 50;
}

/* WiCS About Me */
.wics-description {
    font-size: 18px;
    font-family: "Playfair Display Black Italic";
    margin: 35px; 
    padding: 60px;
    color: #1E1E1E;
    text-align: center;
    background: white;
    top: -5em;
    position: relative;
    opacity: 0.9;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* navigation bar */
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #EDC661;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    text-align: left;
    background-image: url("https://i.lensdump.com/i/W2fE13.png");
    /* change to white background with simple yellow splash */
}

.sidenav a:not(:first-child) {
    padding: 5px;
    text-decoration: none;
    font-size: 25px;
    color: #1E1E1E;
    display: block;
    transition: 0.3s;
    margin-left: 50%;
    font-size: 50px;
}

.sidenav a:hover {
    color: #1E1E1E;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 20px;
    text-decoration: none;
    color: #EDC661;
}

.navMenu {
    font-size:60px;
    cursor:pointer; 
    right: 15px;
    top: 0;
    color: black;
    text-decoration: none;
    position: absolute;
    display: inline-block;
}


@media only screen and (max-width: 600px) {
    .sidenav a:not(:first-child) {
        margin-left: 30%;
    }
}

/* social media icons */
.fa {
    color: white;
    padding: 20px;
    font-size: 60px;
    width: 30px;
    text-align: right;
    text-decoration: none;
    margin: 0 2px;
    margin-bottom: 7px;
    display: none;
}

.fa-facebook,
.fa-twitter,
.fa-slack {
    color: #EDC661;
    background-color: white;
    text-decoration: none;
    font-size: 20px;
    display: block;
    transition: 0.3s;
}

.fa:hover {
    opacity: 0.9;
}

/* avatar images */
.container {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    flex-wrap: wrap;
}

.block {
    height: 20%;
    width: 20%;
    padding: 0px 2% 0px 2%;
}

.responsive-image {
    max-width: 100%;
    border-radius: 50%;
}

.member-image {
    width: 100%;
    border-radius: 50%;
}

.desc,
.wicsTitle {
    text-align: center;
    font-family: "Playfair Display Black Italic";
    margin: 10px;
}

.wicsTitle {
    font-style: italic;
    color: #5A5954;
}

@media only screen and (max-width: 768px) {
    .block {
        width: 40%;
        padding-bottom: 2%;
    }
}

@media only screen and (max-width: 400px) {
    .block {
        width: 100%;
        padding-bottom: 2%;
    }
}

.block img:hover {
    opacity: 0.1;
    cursor: pointer;
}

/* modal pop-up */
.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    padding-top: 100px;
    /* Location of the box */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: white;
    margin: auto;
    padding: 20px;
    width: 80%;
}

#modalText {
    font-family: "Playfair Display Black Italic";
    margin-top: 20px;
}

.hiddenText .personDescription {
    float: left;
}

.float-my-children>* {
    float: left;
    margin-right: 5px;
}

/* this is called a clearfix. it makes sure that the container's children floats are cleared, without using extra markup */

.clearfix {
    *zoom: 1
        /* for IE */
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.hiddenText {
    /* width: 50%; */
    display: none;
}

/* Small Devices */
@media only screen and (max-width: 768px) {
    .col-sm-12 {
        width: 100%;
    }
}

/* Medium Devices */
@media only screen and (max-width: 992px) {
    .col-sm-12 {
        width: 100%;
    }
}

/* Large Devices */
@media only screen and (min-width: 992px) {
    .col-lg-6 {
        width: 49%;
    }

    .col-lg-12 {
        width: 100%;
    }
}