@import url('https://fonts.googleapis.com/css?family=Playfair Display Black Italic');

/* This "resets" the style so it is easier for me to work with the page */

* {
    margin: 0;
    padding: 0;
}

/* default background colour and font*/
body {
    font-family: "Playfair Display Black Italic";
    background-color: #EDC661;
    margin: 0; 
}
  
/* the greeting text that lasts for ~10 seconds, saying "Welcome to WiCS" */ 
#welcomeText {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    color: white; 
    font-family: "Playfair Display Black Italic";
    font-size: 5em;
    text-align: center;
    font-style: italic;
    }
    
/* WiCS About Me */


/* navigation bar */
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: white;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    text-align: left;
    background-image: url("https://i.lensdump.com/i/W2fE13.png"); /* change to white background with simple yellow splash */
}

.sidenav a:not(:first-child) {
    padding: 5px;
    text-decoration: none;
    font-size: 25px;
    color: #1E1E1E;
    display: block;
    transition: 0.3s;
    margin-left: 50%;
    font-size: 50px;
}

.sidenav a:hover {
    color: #ACA7CB;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 20px;
    text-decoration: none;
    color: #EDC661;
}

@media only screen and (max-width: 600px) {
    .sidenav a:not(:first-child) {
        margin-left: 30%;
    }
} 

/* social media icons */

.fa { 
    color: white;
    padding: 20px;
    font-size: 60px;
    width: 30px;
    text-align: right;
    text-decoration: none;
    margin: 0 2px;
    margin-bottom: 7px;
    display: none;
}

.fa-facebook, .fa-twitter, .fa-slack {
    color: #EDC661;
    background-color: white;
    text-decoration: none;
    font-size: 20px;
    display: block;
    transition: 0.3s;
}
  
.fa:hover {
    opacity: 0.9;
}

/* avatar images */
.container {
    display: flex;
    justify-content: center;
    margin-top: 100px;
    flex-wrap: wrap;
}

.block {
    height: 20%;
    width: 20%;
    padding: 0px 2% 0px 2%;
}

.responsive-image {
    max-width: 100%;
    border-radius: 50%;
}

.member-image {
    width: 100%;
    border-radius: 50%;
}

.desc, .wicsTitle {
    text-align: center;
    font-family: "Playfair Display Black Italic";
    margin: 10px;
}

.wicsTitle {
    font-style: italic;
    color: #5A5954;
}

@media only screen and (max-width: 768px) {
    .block {
        width: 40%;
        padding-bottom: 2%;
    }
}

@media only screen and (max-width: 400px) {
    .block {
        width: 100%;
        padding-bottom: 2%;
    }
}

.block img:hover {
    opacity: 0.1;
    cursor: pointer;
}

/* modal pop-up */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content */
  .modal-content {
    background-color: white;
    margin: auto;
    padding: 20px;
    width: 80%;
  }
  
  /* The Close Button */
  #modalCloseBtn {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  #modalCloseBtn:hover, #modalCloseBtn:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }

  #modalText {
      font-family: "Playfair Display Black Italic";
      margin-top: 20px;
  }

  .hiddenText .personDescription {
      float: left;
  }

  .float-my-children > * {
    float:left;
    margin-right:5px;
}

.hiddenText {
    display: none;
}

/* this is called a clearfix. it makes sure that the container's children floats are cleared, without using extra markup */

.clearfix {
    *zoom:1 /* for IE */
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

/* gallery */
.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

div.gallery mg {
   margin: 5px;
   transition: all 2s;
   width: 100%;
   height: 200px;
  }

img:hover {
   transform: scale (1.1);
  }