@import url('https://fonts.googleapis.com/css?family=Playfair Display Black Italic');

/* This "resets" the style so it is easier for me to work with the page */

/* * {
    margin: 0;
    padding: 0;
} */

/* default background colour and font*/
.cover {
    font-family: "Playfair Display Black Italic";
    margin: 0;
}

/* the greeting text that lasts for ~10 seconds, saying "Welcome to WiCS" */
#welcomeText {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    color: white;
    font-family: "Playfair Display Black Italic";
    font-size: 5em;
    text-align: center;
    font-style: italic;
}

.slideout {
    animation: moveOutToRight 0.5s forwards;
}

.cover {
    height: 100%;
    width: 100%;
    position: absolute;
    background-color: #EDC661;
    right: 0;
}

@keyframes moveOutToRight {
    0% {
      opacity: 1;
      transform: translateX(0);
    }

    100% {
      opacity: 0;
      transform: translateX(100%);
    }
  }