/*
This "resets" the style so it is easier for me to work with the page
*/
* {
    margin: 0;
    padding: 0;
}

/* default background colour and font*/
body {
    font-family: "Times New Roman", sans-serif;
    background-color: #FAE070;
}
  
/* the greeting text that lasts for ~10 seconds, saying "Welcome to WiCS" */ 
#welcomeText {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    color: white; 
    font-family: 'Times New Roman', Times, serif;
    font-size: 5em;
    text-align: center;
}

.navBar {
    width: 100%; 
    background-color: white;
    overflow: auto;
    float: left;
    opacity: 0;
}

.navBar a {
    float: left;
    padding: 10px;
    color: black;
    text-decoration: none;
    font-weight: 900;
    font-size: 18px;
}

.navBar a:hover {
    color: white;
}

.navBar a:active {
    border-top: solid white 1px;
}

/* social media icons */

#socialMediaLinks {
    position: fixed;
    right: 0;
    bottom: 0;
}

.fa {
    background: white; 
    color: #FAE070;
    padding: 20px;
    font-size: 30px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    margin: 0 2px;
    margin-bottom: 7px;
}
  
.fa:hover {
    opacity: 0.9;
}

/* avatar images */
.container {
    display: flex;
    justify-content: center;
    margin-top: 100px;
}

.block {
    height: 20%;
    width: 20%;
    padding: 0px 2% 0px 2%;
}

.responsive-image {
    max-width: 100%;
    border-radius: 50%;
}

.member-image {
    width: 100%;
    border-radius: 50%;
}

.block img:hover {
    opacity: 0.1;
    cursor: pointer;
}

