* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Times New Roman", sans-serif;
    background-color: #FAE070;
}
  
#welcomeText {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    color: white;
    font-family: 'Times New Roman', Times, serif;
    font-size: 5em;
    text-align: center;
}

@media only screen and (max-width: 400px) {
    #welcomeText {
        font-size: 3em;
    }
}

@media only screen and (max-width: 750px) {
    #welcomeText {
        font-size: 4em;
    }
}